body{
	font-family: Helvetica;
}
.navbar-cor{
	background:rgba(100,200,100,0.5);
}
#campo_item{
	display: table;
	margin:20px auto 0 auto;
}
.deletar_item{
	margin:5px;
	float: right;
}

@media only screen and (max-width: 600px){
	#campo_item{
		margin:10px;
	}
	#campo_item button{
		display: block;
	}	
}