body{
  background:#5F9EA0;
background-repeat:no-repeat;
background-size:cover;
margin-top:60px;
font-family:Impact, Charcoal, sans-serif;  
}
.center{
  display:table;
  margin:0 auto;
  color:black;
  background:white;
  padding:30px;
  height:100%;
}

h3{
  font-size:24px;
  color:black;
}
#btn_quote{
  margin-right:20px;
  color:black;
}
q{
  color:black;
  display:block;
  font-size:25px;
}
button{
  display:block;
}
p{
  color:black;
  font-size:20px;
}